<html>

<head>
    <title>Certificate Of Multimeter</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
  <section>
    <br>
    <h3 class="text-center">Certificate Of Calibration</h3>
    <div class="container">
      <table class="table table-bordered">
      	
        <tbody>
          <tr>
            <th>Certificate No</td>
            <td>1234</td>
            <th>Page no</td>
            <td>1 of 2</td>
          </tr>
          <tr>
            <th>ULR No.</td>
            <td>151561565615</td>
            <th>Date Of Issue</td>
            <td>20/11/20</td>
          </tr>
          <tr>
            <th>Date Of Calibration </th>
            <td></td>
            <th>Calibration Due date</th>
            <td></td>
          </tr>
          <tr>
            <th colspan="2">Client Name and address</th>
            <th>Condition Of UUC</th>
            <td>Ok</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2">hello</td>
            <th>Location of Calibration</th>
            <td>At Lab </td>
          </tr>
          <tr>
            <th>Ambient temp.</th>
            <td>25 + 4 0C </td>
          </tr>
          <tr>
            <th>Relative Humidity</th>
            <td>50 + 20 %R</td>
          </tr>
          <tr>
            <th>Service Request No</th>
            <td>656456</td>
            <th>Reference ID</th>
            <td>1248</td>
          </tr>
          <tr>
            <th>Date Of Received</th>
            <td>20/12/20</td>
            <th>Work Instruction No</th>
            <td>WI-KES-ET-01</td>
          </tr>
          <tr>
            <th colspan="2">Description Of UUC</th>
            <th>Parameter To be Calibrated</th>
            <td>DCA, ACV, DCV, Ω.</td>
          </tr>
          <tr>
            <th>Name Of Instrument</th>
            <td></td>
            <th>Range </th>
            <td>As per Manual</td>
          </tr>
          <tr>
            <th>Make</th>
            <td></td>
            <th>Least Count</th>
            <td>As per Manual</td>
          </tr>
          <tr>
            <th>Sr No</th>
            <td></td>
            <th>Model</th>
            <th></th>
          </tr>
          <tr>
            <th>Id No.</th>
            <td></td>
            <th>Location</th>
            <td></td>
          </tr>
          <tr>
            <th colspan="4">Reference Standard Used For Calibration</th>
          </tr>
          <tr>
            <th>Name</th>
            <td>Multi Product Calibrator</td>
            <th>Certificate No</th>
            <td>PI200925-5-1</td>
          </tr>
          <tr>
            <th>Id no.</th>
            <td>KES/EQP/E-01</td>
            <th>Calibration validity</th>
            <td>24/09/2021</td>
          </tr>
        </tbody>
      </table>


<hr>

    <!-- Multimeter start -->

      <table class="table table-bordered">
        <tbody>
           <tr>
            <th class="text-center" colspan="5"> Result Of Calibration</th>
          </tr>
          <tr>
            <td class="text-center" colspan="5">1. Parameter : DC Voltage </td>
          </tr>
          <tr>
            <td>Sr. No</td>
            <td>Test Points (V)</td>
            <td>Reading On UUC (V)</td>
            <td>Deviation (V)</td>
            <td>% Uncertainity </td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">2. Parameter : AC Voltage @ 50 Hz</td>
          </tr>
          <tr>
            <td>Sr. No</td>
            <td>Test Points (V)</td>
            <td>Reading On UUC (V)</td>
            <td>Deviation (V)</td>
            <td>% Uncertainity </td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td class="text-center" colspan="5">3. Parameter : AC Current</td>
          </tr>
          <tr>
            <td>Sr. No</td>
            <td>Test Points (A)</td>
            <td>Reading On UUC (A)</td>
            <td>Deviation (A)</td>
            <td>% Uncertainity </td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">4. Parameter : Resistance</td>
          </tr>
          <tr>
            <td>Sr. No</td>
            <td>Test Points (Ω)</td>
            <td>Reading On UUC  (Ω)</td>
            <td>Deviation  (Ω)</td>
            <td>% Uncertainity </td>
          </tr>
          <tr>
            <th>1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


<hr>

      <!--Pressure Format start-->

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-center" colspan="10">Result of Calibration</th>
          </tr>
          <tr>
            <td rowspan="2">Calibration Point P</td>
            <td colspan="3">Reading On Master</td>
            <td rowspan="2">MeanValue Miw((M1+M3)/2+M2)/2</td>
            <td rowspan="2">Deviation [Miw-P] (Actual)</td>
            <td rowspan="2">Repeat-ability [M3-M1]</td>
            <td rowspan="2">Hysteresis M2-M1</td>
            <td rowspan="2">Expanded Uncertainty</td>
          </tr>
          <tr>
            <td>M1</td>
            <td>M2</td>
            <td>M3</td>
          </tr>
          <tr>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
            <td>kg/cm<sup>3</sup></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>



<hr>
       <!--Vernier Caliper Format start-->

       <table class="table table-bordered">
         <tbody>
           <tr>
             <th colspan="4"> Result of Calibration</th>
             <th>Unit of Measurement</th>
             <th>mm</th>
           </tr>
           <tr>
             <th colspan="2">Standard Size Of Caliper Checker</th>
             <th colspan="2">Reading Observed On UUC</th>
             <th colspan="2">Error</th>
           </tr>
           <tr>
             <th>Outside Measuring Jaw </th>
             <th>Inside Measuring Jaw </th>
             <th>Outside Measuring Jaw </th>
             <th>Inside Measuring Jaw </th>
             <th>Outside Measuring Jaw </th>
             <th>Inside Measuring Jaw </th>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <th class="text-center" colspan="6">Calibration result Of Depth Side </th>
           </tr>
           <tr>
             <th colspan="2">Std. Depth </th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <th colspan="2">Result Of UUC </th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
             <th colspan="3">Gape On Outside Measuring Jaw </th>
             <td colspan="3">Within 7 Micron </td>
           </tr>
           <tr>
             <th colspan="3">Gape On Inside Measuring Jaw </th>
             <td colspan="3">Within 6 Micron </td>
           </tr>
         </tbody>
       </table>


      <table class="table table-bordered">
        <tbody>
           <tr>
            <th>Certificate No</td>
            <td>KES/201107/E/001</td>
            <th>Page no</td>
            <td>2 of 2</td>
          </tr>
          <tr>
            <th>Date Of Calibration </th>
            <td>07-11-2020</td>
            <th>Calibration Due date</th>
            <td>06-11-2021 </td>
          </tr>
          <tr>
            <td colspan="4">
              <b>Notes:</b>
              <br>
              1.The reported uncertainty is the expanded uncertainty in measurement obtained by multiplying the standard uncertainty by    coverage factor K=2, which corresponds to a coverage probability of approximately 95% for normal distribution. <br><br>2.This certificate refers only to the particular UUC submitted for calibration. UUC stands for Unit Under Calibration. <br><br>
               3.The calibration results reported in the certificate are valid at the time of and under the stated conditions of measurement.
               <br><br>4.This certificate shall not be reproduced, except in full unless written permission for the publication of an approved abstract has been obtained from  "Kalindi Engineering Services '' Bharuch.
               <br><br> 5.The standard used are traceable to National/International standards. 
            </td>
          </tr>
          <tr>  
            <td colspan="2">  Calibrated By </td>
            <td colspan="2">  Approved By </td>
          </tr>
          <tr>  
            <td colspan="4" height="100px;">
              
            </td>
          </tr>
          <tr>  
            <td colspan="2">Mr. Hamza Mirza (Calibration Engineer)</td>
            <td colspan="2">Mr. Chirag Patel (Technical Manager) </td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>
  <a href="{% url 'listcert' %}">list</a>
</body>

</html>			